#aguarde{width:100%}
#aguarde strong{font-family:arial;font-size:15px;color:#333;position:absolute;width:100px;height:30px;left:50%;top:50%;margin-top:-25px;margin-left:-50px;line-height:25px;text-align:center}*{margin:0;padding:0}
body{background:#fff}
hr,.hidden,.oculta,.restricoes,#aguarde{display:none}
fieldset{border:0}
.glb-bloco{overflow:auto;margin:0 auto;width:940px;position:relative}
#glb-corpo{background:url('/resources/img/bg_header.png') repeat-x}
.cadastro-topo{padding-bottom:20px;width:100%;line-height:20px;padding-top:30px;margin-bottom:81px}
.cadastro-topo .txt{color:#a5cfff;font-size:16px;letter-spacing:.95px}
.cadastro-topo b{margin-left:5px}
.cadastro-topo span,b{color:#fff;font-size:35px;font-family:arial,sans-serif;letter-spacing:-1px}
#sidebar{float:left;margin-right:32px;width:260px}
#sidebar h2,.titulo-modulo,.titulo{background:url('/resources/img/cadastro/borda_titulo.gif') repeat-x bottom;font-family:arial;font-size:20px;height:38px;margin:0 0 16px;text-transform:uppercase;word-spacing:-3px}
.glb-bloco .cadastro-form .titulo-modulo:not(:first-child){margin-top:33px}
.main{width:648px;float:left}
.cadastro-form{clear:right}
.cadastro-form a{color:#0669de;text-decoration:none}
.cadastro-form{padding:1px 0 0 9px;font-family:Helvetica,arial,sans-serif;margin-bottom:10px}
.controls label,label span{font-weight:normal}
#cadastrar{margin-top:25px;padding:11px;width:121px;font-weight:bold;margin-bottom:25px;font-size:14px}
#data_de_nascimento{background:#fff;width:75px!important}
#numero{width:65px}
#cep{width:80px}
#complemento{width:35%}
.componente-telefone input{text-align:center}
#glb-doc .telefone .ddd{width:35px}
#glb-doc .telefone .numero{width:80px}
#cpf,#txtCpfResp,#identidade{width:120px}
#pergunta_secreta{width:300px}
.control-group select#sexo{width:142px}
#forca-senha{display:block;font-size:12px}
span.invalido{color:#d14}
span.moderada{color:#ffba00}
span.forte{color:#78bc24}
.senha input.invalido{border-color:#d14;background:url('/resources/img/cadastro/senha_invalida.png') no-repeat 198px center}
.senha input.invalido:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15)}
.senha input.moderada{border-color:#ffba00;background:url('/resources/img/cadastro/senha_moderada.png') no-repeat 198px center}
.senha input.moderada:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,186,0,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,186,0,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,186,0,0.15)}
.senha input.forte{border-color:#78bc24;background:url('/resources/img/cadastro/senha_forte.png') no-repeat 198px center}
.senha input.forte:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(120,188,36,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(120,188,36,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(120,188,36,0.15)}
div.control-group input[type='password']{width:218px}
div.control-group input[type="text"],div.control-group input[type="email"],div.sbHolder{width:70%}
input#login{width:340px;clear:right}
label#label-globomail{display:inline-block;margin-left:5px;height:25px}
div.control-group.seguranca{display:inline-block;width:100%}
div.control-group.seguranca img{margin-top:5px;height:49px}
div.control-group.seguranca .controls{margin-left:20px}
#txtSeguranca{width:228px}
div.control-group.seguranca img,div.control-group.seguranca div{float:left}
div.sbHolder{margin-bottom:15px}
div.sexo div.sbHolder{width:137px;height:26px}
#glb-rodape{color:#666;font-family:Helvetica,arial,sans-serif;font-size:12px;margin-top:38px;overflow:auto;margin:0 auto;padding-bottom:20px}
#glb-corpo a,#glb-rodape a{color:#0669de;text-decoration:none}
#glb-rodape p{line-height:20px}
.descricao{font-size:12px;margin:10px 0}
.componente-modal{border:1px solid #bfbfbf;color:#666;font-size:12px;font-family:helvetica,arial,sans-serif;line-height:15px;word-spacing:0}
.componente-modal ul{margin-left:15px}
.componente-modal .texto{padding:10px}
.componente-modal .botao-termo{height:58px;border-top:1px solid #ccc;background:#f5f5f5}
.componente-modal .modal-termo-uso,.componente-modal .modal-comentarios{height:200px;margin:8px;margin-bottom:10px;overflow-y:scroll}
.componente-modal.modal-seg-senha .texto{padding:20px}
.componente-modal.modal-seg-senha .texto b{color:#333}
.componente-modal.modal-seg-senha .texto h3{margin:0 0 20px}
.componente-modal li{margin-bottom:5px}
.componente-modal ul ol{margin-left:20px;list-style-type:disc}
#login-status{display:block}
.botao-termo .fechar_termouso{float:right;margin:10px;width:150px!important;padding:10px;font-size:14px;outline:none!important}
.icon-fechar{height:22px;width:22px;position:absolute;top:-11px;right:-11px;background:url('/resources/img/icon-close.png') no-repeat}
.componente-termo-uso-completo{padding:10px;margin:20px 0;font-size:12px;overflow-y:scroll;height:300px;border:1px solid #bfbfbf}
.componente-termo-uso-completo .texto p{margin-bottom:15px}
.componente-modal .hline{height:1px;background:#e5e5e5}
#loginUsuarioExistente{font-weight:bold}
.instrucoes-ativacao h2{font-weight:normal}
.instrucoes-ativacao h2 b{font-size:20px;color:#000}
.instrucoes-ativacao{font-family:helvetica,arial,sans-serif}
.instrucoes-ativacao .txt{font-size:13px;margin-top:25px;margin-bottom:5px;color:#666;line-height:19px}
.info-problemas-login{margin-top:30px;font-weight:bold}
.info-problemas-login h3{font-size:18px;color:#333}
.instrucoes-ativacao .acessar-meu-email input{color:#0669de}
.info-problemas-login p{font-size:13px;color:#666;margin-top:5px;word-spacing:.5px;font-weight:lighter}
.box-como-resolver{margin-top:15px;margin-bottom:40px}
.box-como-resolver fieldset label{font-size:13px;font-weight:normal;display:inline-block}
.box-como-resolver fieldset span{display:block;font-size:12px;color:#999;clear:both}
.box-como-resolver fieldset #opcao-alterar{margin-top:15px}
.box-alterar{margin-top:25px}
.box-reenviar{margin:20px 0}
i.user_email{font-style:normal}
.box-reenviar .txt span{display:inline-block}
.opcao-reenviar .ok,.opcao-alterar .ok{background:url('/resources/img/cadastro/img_sucesso_branco.gif') no-repeat;padding-left:30px;height:33px;line-height:27px;font-weight:bold;color:#666}
.radio-sub{margin-left:18px}
.cadastro-sucesso{font-family:helvetica,arial,sans-serif;margin-bottom:50px}
.cadastro-sucesso h2{font-size:20px}
.cadastro-sucesso p{color:#666;font-size:13px;margin-top:20px}
.cadastro-sucesso p strong{color:#333}
.cadastro-sucesso p.links{font-size:15px;font-weight:bold}
.cadastro-sucesso a{color:#0669de;text-decoration:none;display:block;line-height:24px}
.criacao-email #glb-rodape{bottom:0;padding:1px 0 10px 0;background-color:#FFF}
.associated{display:none}form{margin:0 0 18px}
fieldset{padding:0;margin:0;border:0}
legend{display:block;width:100%;padding:0;margin-bottom:27px;font-size:19.5px;line-height:36px;color:#333;border:0;border-bottom:1px solid #eee;-webkit-margin-collapse:separate}
label,input,button,select,textarea{font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px}
label,.seguranca .controls label{display:block;margin:0 0 6px;color:#666;font-size:13px;font-weight:bold}
input,textarea,select,.uneditable-input{display:inline-block;width:210px;height:30px;padding:0 0 0 5px;margin-bottom:9px;font-size:13px;line-height:30px;color:#666;border:1px solid #CCC;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
select{padding:3px}
.uneditable-textarea{width:auto;height:auto}
label input,label textarea,label select{display:block}
input[type=image],input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:0;cursor:pointer}
input[type=file]{padding:initial;line-height:initial;border:initial;background-color:#fff;background-color:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto}
select,input[type=file]{height:30px;*margin-top:4px;line-height:28px}
select{width:220px;background-color:#fff;padding:4px}
select[multiple],select[size]{height:auto}
input[type=image]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
textarea{height:auto}
input[type=hidden]{display:none}
.radio input[type=radio],.checkbox input[type=checkbox]{float:left;margin-left:-18px}
.radio.inline,.checkbox.inline{display:inline-block;margin-bottom:0}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{margin-left:10px}
input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-ms-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s}
input:focus,textarea:focus,select:focus{border-color:#58a2e6;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15)}
*:focus{outline:0}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,133,255,0.15);border-color:#58a2e6;outline:0}
.input-mini{width:60px}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}
input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input{float:none;margin-left:0}
input.span1,textarea.span1,.uneditable-input.span1{width:50px}
input.span2,textarea.span2,.uneditable-input.span2{width:130px}
input.span3,textarea.span3,.uneditable-input.span3{width:210px}
input.span4,textarea.span4,.uneditable-input.span4{width:290px}
input.span5,textarea.span5,.uneditable-input.span5{width:370px}
input.span6,textarea.span6,.uneditable-input.span6{width:450px}
input.span7,textarea.span7,.uneditable-input.span7{width:530px}
input.span8,textarea.span8,.uneditable-input.span8{width:610px}
input.span9,textarea.span9,.uneditable-input.span9{width:690px}
input.span10,textarea.span10,.uneditable-input.span10{width:770px}
input.span11,textarea.span11,.uneditable-input.span11{width:850px}
input.span12,textarea.span12,.uneditable-input.span12{width:930px}
select.span1{width:70px}
select.span2{width:150px}
select.span3{width:230px}
select.span4{width:310px}
select.span5{width:390px}
select.span6{width:470px}
select.span7{width:550px}
select.span8{width:630px}
select.span9{width:710px}
select.span10{width:790px}
select.span11{width:870px}
select.span12{width:950px}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#f5f5f5;border-color:#ddd;cursor:not-allowed}
.control-group.warning>label,.control-group.warning .help-block,.control-group.warning .help-inline{color:#c09853}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#666;border-color:#c09853}
.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853}
.control-group.error label,.control-group.error .help-block,.control-group.error .help-inline{color:#d14;font-family:Helvetica,arial,sans-serif}
.control-group.error input,.control-group.error select,.control-group.error textarea{color:#666;border-color:#d14;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.15)}
.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{border-color:#ae0d35;-webkit-box-shadow:0 0 6px #f36186;-moz-box-shadow:0 0 6px #f36186;box-shadow:0 0 6px #f36186}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{color:#d14;background-color:#f2dede;border-color:#d14}
.control-group.success>label,.control-group.success .help-block,.control-group.success .help-inline{color:#468847}
.control-group.success input,.control-group.success select,.control-group.success textarea{color:#666;border-color:#468847}
.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847}
input:focus:required:invalid,textarea:focus:required:invalid,select:focus:required:invalid{color:#b94a48;border-color:#ee5f5b}
input:focus:required:invalid:focus,textarea:focus:required:invalid:focus,select:focus:required:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.form-actions{padding:17px 20px 18px;margin-top:18px;margin-bottom:18px;background-color:#f5f5f5;border-top:1px solid #ddd}
.uneditable-input{display:block;background-color:#fff;border-color:#eee;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);cursor:not-allowed}
:-moz-placeholder{color:#999}
::-webkit-input-placeholder{color:#999}
.help-block{margin-top:5px;margin-bottom:0;color:#999}
.help-inline{*position:relative;*top:-5px;display:block;font-size:12px;margin-bottom:10px}
.input-prepend,.input-append{margin-bottom:5px;*zoom:1}
.input-prepend:before,.input-append:before,.input-prepend:after,.input-append:after{display:table;content:""}
.input-prepend:after,.input-append:after{clear:both}
.input-prepend input,.input-append input,.input-prepend .uneditable-input,.input-append .uneditable-input{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.input-prepend .uneditable-input,.input-append .uneditable-input{border-left-color:#ccc}
.input-prepend .add-on,.input-append .add-on{float:left;display:block;width:auto;min-width:16px;height:20px;margin-right:-1px;padding:8px 4px 4px 5px;font-weight:normal;line-height:18px;color:#999;text-align:center;text-shadow:0 1px 0 #fff;background-color:#f5f5f5;border:1px solid #ccc;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.input-prepend .active,.input-append .active{background-color:#a9dba9;border-color:#46a546}
.input-prepend .add-on{*margin-top:1px}
.input-append input,.input-append .uneditable-input{float:left;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.input-append .uneditable-input{border-right-color:#ccc}
.input-append .add-on{margin-right:0;margin-left:-1px;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.search-query{padding-left:14px;padding-right:14px;margin-bottom:0;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px}
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,.form-horizontal select,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input{display:inline-block;margin-bottom:0}
.form-search label,.form-inline label{display:inline-block}
.control-group{margin-bottom:7px}
.form-horizontal legend+.control-group{padding-top:27px}
.form-horizontal .control-group{margin-bottom:30px}
.form-horizontal .control-group>label{float:left;width:153px;padding-top:7px;text-align:right}
.form-horizontal .controls{margin-left:175px}
.form-horizontal .form-actions{padding-left:160px}
.label{padding:1px 3px 2px;font-size:9.75px;font-weight:bold;color:#fff;text-transform:uppercase;background-color:#999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.label.important{background-color:#c43c35}
.label.warning{background-color:#f89406}
.label.success{background-color:#46a546}
.label.notice{background-color:#62cffc}
.sbHolder{cursor:pointer;background-color:white;background-color:#eee;background-image:-moz-linear-gradient(top,#fff,#eee);background-image:-ms-linear-gradient(top,#fff,#eee);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));background-image:-webkit-linear-gradient(top,#fff,#eee);background-image:-o-linear-gradient(top,#fff,#eee);background-image:linear-gradient(top,#fff,#eee);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);-webkit-box-shadow:0 1px 1px #999;-moz-box-shadow:0 1px 1px #999;box-shadow:0 1px 1px #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-bottom:solid 1px #e4e4e4;border-left:solid 1px #e4e4e4;border-top:solid 1px #f1f1f1;border-right:solid 1px #f1f1f1;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;height:30px;position:relative;float:none;vertical-align:middle;margin-left:0}
.sbHolder.span1{width:50px}
.sbHolder.span2{width:130px}
.sbHolder.span3{width:210px}
.sbHolder.span4{width:290px}
.sbHolder.span5{width:370px}
.sbHolder.span6{width:450px}
.sbHolder.span7{width:530px}
.sbHolder.span8{width:610px}
.sbHolder.span9{width:690px}
.sbHolder.span10{width:770px}
.sbHolder.span11{width:850px}
.sbHolder.span12{width:930px}
.error .sbHolder{border-color:#d14;display:inline-block}
.error .sbHolder .sbOptions{border-color:#d14}
.error .sbHolder a{outline:0}
.error .sbHolder:focus{border-color:#ae0d35;-webkit-box-shadow:0 0 6px #f36186;-moz-box-shadow:0 0 6px #f36186;box-shadow:0 0 6px #f36186}
.sbHolderDisabled{opacity:.5;filter:alpha(opacity=50);cursor:not-allowed}
.sbSelector{display:block;height:29px;left:0;line-height:29px;outline:0;overflow:hidden;position:absolute;text-indent:10px;top:0;text-decoration:none!important}
.sbSelector:link,.sbSelector:visited,.sbSelector:hover{color:#323232;outline:0}
.sbToggle{display:block;height:0;outline:0;position:absolute;right:7px;top:12px;width:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #999;-webkit-transition:border-color .15s linear;-moz-transition:border-color .15s linear;-ms-transition:border-color .15s linear;-o-transition:border-color .15s linear;transition:border-color .15s linear}
.sbToggle:hover{text-decoration:none;border-top-color:#000}
.sbToggle:after{border-left:1px dotted #999;content:"";height:20px;position:absolute;right:13px;top:-14px}
.sbOptions{background-color:white;border-bottom:solid 1px #e4e4e4;border-left:solid 1px #e4e4e4;border-top:solid 1px #f1f1f1;border-right:solid 1px #f1f1f1;list-style:none;left:-1px;margin:0;padding:0;position:absolute;top:29px;width:100%;max-height:300px;z-index:2;overflow-y:auto;overflow-x:hidden}
.sbOptions li.last{border-bottom:none!important}
.sbOptions li{border-bottom:solid 1px #e5e5e5;width:96%!important;padding:0 10px;margin:0 20px 0 0}
.sbOptions li:first-child a{font-style:italic;color:#cdcdcd!important}
.sbOptions li:hover{background-color:#f7f7f7}
.sbOptions a{color:#333!important;display:block;outline:0;padding:7px 0 7px 3px;text-decoration:none!important}
.sbOptions a:link,.sbOptions a:visited{color:#DDD}
.sbOptions a:hover{color:#323232!important}
.sbOptions .sbDisabled{border-bottom:dotted 1px #515151;color:#999;display:block;padding:7px 0 7px 3px}
.sbOptions .sbGroup{border-bottom:dotted 1px #515151;color:#ebb52d;display:block;font-weight:bold;padding:7px 0 7px 3px}
.sbOptions .sbSub{padding-left:17px}
.custom-checkbox,.custom-radio{position:relative;margin-bottom:10px}
.custom-checkbox input,.custom-radio input{position:absolute;margin:0;z-index:2;top:3px;left:20px;opacity:0;filter:alpha(opacity=0)}
.custom-checkbox.disabled,.custom-radio.disabled{opacity:.5}
.custom-checkbox.disabledinput,.custom-radio.disabledinput{opacity:0;filter:alpha(opacity=0)}
.custom-checkbox label,.custom-radio label{display:block;position:relative;z-index:1;font-size:13px;padding-right:10px;line-height:1;padding:2px 0 1px 24px;margin-left:0!important;cursor:pointer;width:auto;height:16px}
.custom-checkbox label{background:url('/resources/img/cadastro/check-radio.png') no-repeat 0 -124px}
.custom-checkbox label.hover,.custom-checkbox label.focus{background-position:0 -143px}
.custom-checkbox label.checked{background-position:0 -162px}
.custom-checkbox label.hover.checked,.custom-checkbox label.focus.checked{background-position:0 -181px}
.custom-checkbox label.checked.disabled{background-position:0 -200px}
.custom-checkbox label.checked.disabled{background-position:0 -219px}
.custom-radio label{background:url('/resources/img/cadastro/check-radio.png') no-repeat 0 1px}
.custom-radio label.hover,.custom-radio label.focus{background-position:0 -20px}
.custom-radio label.checked{background-position:0 -41px}
.custom-radio label.hover.checked,.custom-radio label.focus.checked{background-position:0 -62px}
.custom-radio label.checked.disabled{background-position:0 -83px}
.custom-radio label.checked.disabled{background-position:0 -104px}
.btn{display:inline-block;padding:5px 10px 6px;font-size:13px;line-height:normal;color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#e6e6e6;background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);background-image:-moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);background-image:-ms-linear-gradient(#fff,#fff 25%,#e6e6e6);background-image:-o-linear-gradient(#fff,#fff 25%,#e6e6e6);background-image:linear-gradient(#fff,#fff 25%,#e6e6e6);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);cursor:pointer;-webkit-transition:.1s linear all;-moz-transition:.1s linear all;-ms-transition:.1s linear all;-o-transition:.1s linear all;transition:.1s linear all}
.btn:hover{color:#333;text-decoration:none;background-position:0 -15px}
.btn:focus{outline:1px dotted #666}
.btn.primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#0250e8;background-image:-moz-linear-gradient(top,#0289e8,#0250e8);background-image:-ms-linear-gradient(top,#0289e8,#0250e8);background-image:-webkit-gradient(linear,0 0,0 100%,from(#0289e8),to(#0250e8));background-image:-webkit-linear-gradient(top,#0289e8,#0250e8);background-image:-o-linear-gradient(top,#0289e8,#0250e8);background-image:linear-gradient(top,#0289e8,#0250e8);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0289e8',endColorstr='#0250e8',GradientType=0);border-color:#0250e8 #0250e8 #01369c;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn.active,.btn:active{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn[disabled],.btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background-color:#505050}
.custom-select{position:relative;background-color:#fff}
.custom-select.open{z-index:1000}
.custom-select i{font-style:normal}
.custom-select select{position:absolute;top:0;left:0}
.custom-select span{display:block;padding:10px;cursor:pointer;position:relative;color:#666;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}
.custom-select span:hover{background-color:#f0f0f0;color:#06d}
.custom-select .custom-select-options,.custom-select span.selected{-webkit-border-radius:4px 4px;-moz-border-radius:4px / 4px;border-radius:4px / 4px;border:solid 1px #b4b4b4}
.custom-select .custom-select-options{position:absolute;width:100%;background-color:#fff;display:none;top:35px}
.custom-select span.selected{padding-right:25px;background-image:-webkit-linear-gradient(top,#fff,#efefef);background-image:-moz-linear-gradient(top,#fff,#efefef)}
.custom-select.open span.selected,.custom-select:hover span.selected{background-image:none;background-color:#fff}
.custom-select span.custom-select-arrow{background:url(/resources/img/select-box.png) no-repeat right 3px;position:absolute;top:0;right:0;border:0;height:30px;padding:0;width:26px}
.custom-select span:hover .custom-select-arrow{background-position:right -35px}div.tiptip_holder{display:none;position:absolute;z-index:999;background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:3px;font-family:Helvetica;box-shadow:0 0 0 3px rgba(0,0,0,0.05);-webkit-box-shadow:0 0 0 3px rgba(0,0,0,0.05);-moz-box-shadow:0 0 0 3px rgba(0,0,0,0.05);-webkit-appearance:none;line-height:20px;right:3px}
div.tiptip_content{font-family:helvetica,arial;font-size:12px;color:#666;padding:5px 8px;line-height:20px}
div.tip_left .tiptip_arrow{position:absolute;background:url('/resources/img/seta-tip.png') no-repeat;height:20px;width:20px;top:9px;left:-9px}
div.tip_bottom .tiptip_arrow{position:absolute;background:url('/resources/img/seta-tip.png') no-repeat;height:20px;width:20px;top:-9px;left:-2px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.ie div.tiptip_content{border:1px solid #d9d9d9}
.ie div.tiptip_holder{border:3px solid #f0f0f0}
.ie div.tip_left .tiptip_arrow{top:9px;left:-8px}@media only screen and (max-width:730px){.criacao-email .titulo-modulo{padding-bottom:20px}
.titulo-modulo{margin-top:15px}
.dados-profile .txt,.rodape-links{display:none}
.cadastro-topo{width:100%;text-align:center;margin-bottom:35px;height:70px;padding-bottom:0}
.cadastro-topo span,b{font-size:25px;text-align:center}
.cadastro-topo .txt{display:none}
.cadastro-form{padding:0}
.cadastro-form,.glb-bloco,.main{width:280px}
.senha input.invalido,.senha input.moderada,.senha input.forte{background-position:250px center}
#pergunta_secreta{font-size:11px}
div.control-group input[type="text"],div.control-group input[type="email"],div.control-group input[type="password"],div.sbHolder,#pergunta_secreta,#txtSeguranca{width:96%}
label[for=txtSeguranca]{margin-top:5px}
.btn-cadastrar{text-align:center;margin:20px}
input#login{width:160px}
#sidebar{margin-bottom:20px;clear:both}
.blockUI{left:2%!important;width:95%!important}
.componente-termo-uso-basico .modal-scroll{height:130px}
#glb-rodape{clear:both}
.custom-checkbox label,#glb-rodape p{font-size:11px;line-height:14px}
div.control-group.seguranca .controls{clear:left;margin-left:0;margin-top:7px}
.check-1{margin-top:45px;margin-bottom:15px}
.check-2{margin-bottom:15px}
.btn-cadastro{margin-top:30px;text-align:center}
.descricao{font-size:12px}
.instrucoes-ativacao label{display:inline!important}
}@media only screen and (min-width:732px) and (max-width:959px){.dados-profile .txt{display:none}
.cadastro-topo span,b{font-size:30px}
.glb-bloco{width:725px}
#sidebar{padding:1px 0 20px 9px;width:648px}
}